
<footer class="footer">
    <div class="footer-contenedor">
      <!-- Parte izquierda -->
      <div class="footer-izquierda">
        <h3>Adbentur</h3>
        <p>Dirección: Calle Ficticia 123, Sevilla</p>
        <p>Email: contacto&#64;adbentur.com</p>
      </div>
  
      <!-- Parte central -->
      <div class="footer-centro">
        <h3>Actividades:</h3>
        <ul>
          <li>Alpinismo</li>
          <li>Escalada</li>
          <li>BTT</li>
          <li>¡Y mucho más!</li>
        </ul>
      </div>
  
      <!-- Parte derecha -->
      <div class="footer-right">
        <h3>Redes Sociales</h3>
        <div class="social-links">
          <a href="#" class="social-icon">Facebook</a>
          <a href="#" class="social-icon">Twitter</a>
          <a href="#" class="social-icon">Instagram</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    </div>
  </footer>
  