
<footer class="footer">
    <div class="footer-container">
      <!-- Parte izquierda -->
      <div class="footer-left">
        <h3>Adbentur</h3>
        <p>Dirección: Calle Ficticia 123, Ciudad</p>
        <p>Email: contactomiempresa.com</p>
      </div>
  
      <!-- Parte central -->
      <div class="footer-center">
        <h3>Enlaces</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
  
      <!-- Parte derecha -->
      <div class="footer-right">
        <h3>Redes Sociales</h3>
        <div class="social-links">
          <a href="#" class="social-icon">Facebook</a>
          <a href="#" class="social-icon">Twitter</a>
          <a href="#" class="social-icon">LinkedIn</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    </div>
  </footer>
  