<div class="formulario-registro-container">
  <h2 class="">Formulario de Registro</h2>

  <form class="formulario-registro-formulario" (ngSubmit)="register()">
    
    <input
      id="nombre"
      placeholder="Nombre"
      class="formulario-registro-input"
      type="text"
      [(ngModel)]="usuario.nombre"
      name="nombre"
      required
    />

    <input
      id="apellido1"
      placeholder="Primer Apellido"
      class="formulario-registro-input"
      type="text"
      [(ngModel)]="usuario.apellido1"
      name="apellido1"
      required
    />

    <input
      id="apellido2"
      placeholder="Segundo Apellido"
      class="formulario-registro-input"
      type="text"
      [(ngModel)]="usuario.apellido2"
      name="apellido2"
    />

    <input
      id="email"
      placeholder="Email"
      class="formulario-registro-input"
      type="email"
      [(ngModel)]="usuario.email"
      name="email"
      required
    />

    <input
      id="username"
      placeholder="Nombre de Usuario"
      class="formulario-registro-input"
      type="text"
      [(ngModel)]="usuario.username"
      name="username"
      required
    />

    <input
      id="password"
      placeholder="Password"
      class="formulario-registro-input"
      type="password"
      [(ngModel)]="usuario.password"
      name="password"
      required
    />

    <textarea
      id="biografia"
      placeholder="Biografía"
      class="formulario-registro-input"
      [(ngModel)]="usuario.biografia"
      name="biografia"
    ></textarea>

    <select
    id="idiomasHablados"
    class="formulario-registro-input"
    [(ngModel)]="idiomasSeleccionados"
    name="idiomasHablados"
    multiple
    (change)="onIdiomasChange()"
  >
    <option *ngFor="let idioma of idiomasDisponibles" [value]="idioma">
      {{ idioma }}
    </option>
  </select>

    <input
      id="telefono"
      placeholder="Teléfono"
      class="formulario-registro-input"
      type="text"
      [(ngModel)]="usuario.telefono"
      name="telefono"
    />

    <select
      id="rol"
      class="formulario-registro-input"
      [(ngModel)]="usuario.rol"
      name="rol"
      (change)="onRoleChange()"
      required
    >
      <option value="">Seleccione tipo de perfil...</option>
      <option value="ofertante">Ofertante</option>
      <option value="demandante">Demandante</option>
      <option value="ambos">Ambos</option>
    </select>

    <!-- Componentes según el tipo de perfil -->
    <div *ngIf="usuario.rol === 'ofertante'">
      <app-registro-ofertante></app-registro-ofertante>
    </div>
    <div *ngIf="usuario.rol === 'demandante'">
      <app-registro-demandante></app-registro-demandante>
    </div>
    <div *ngIf="usuario.rol === 'ambos'">
      <app-registro-ofertante></app-registro-ofertante>
      <app-registro-demandante></app-registro-demandante>
    </div>

    <button
      class="formulario-registro-boton"
      type="submit"
    >
      Registrarse
    </button>
  </form>

</div>
