.home-contenedor {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título de bienvenida */
.home-contenedor h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Contenedor de búsqueda */
.busqueda-contenedor {
  margin: 20px 0;
}

.busqueda-contenedor h2 {
  font-size: 1.5rem;
  color: #555;
}

.busqueda-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.busqueda-input:focus {
  border-color: #339628;
  outline: none;
  box-shadow: 0 0 5px rgba(19, 197, 96, 0.5);
}

/* Contenedor de actividades */
.actividades-contenedor {
  margin-top: 20px;
}

.actividades-contenedor h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 15px;
}

/* Tarjetas de actividad */
.actividad-tarjeta {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.actividad-tarjeta h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.actividad-tarjeta p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #666;
}

.actividad-tarjeta p strong {
  color: #333;
}

/* Mensaje de sin resultados */
.home-contenedor p {
  font-size: 1rem;
  color: #888;
  margin-top: 20px;
}


/* Estilos para el contenedor de reservas */
.reservas-contenedor {
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título de la lista de reservas */
.reservas-contenedor h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para cada tarjeta de reserva */
.reserva-tarjeta {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover sobre cada reserva */
.reserva-tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Títulos de cada reserva */
.reserva-tarjeta h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}

/* Detalles de cada reserva */
.reserva-tarjeta p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

/* Destacar la fecha de la reserva */
.reserva-tarjeta p strong {
  color: #339628;
}

/* Mensaje en caso de no tener reservas */
.reservas-contenedor div p {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}

/* Ajustes de margenes y espacio */
.reservas-contenedor .reserva-tarjeta:last-child {
  margin-bottom: 0;
}
