<div class="registro-ofertante-container">
    <h3 class="registro-ofertante-title">Información del Ofertante</h3>
    
    <div>
      <label for="experiencia" class="registro-ofertante-label">Experiencia:</label>
      <input id="experiencia" [(ngModel)]="oferta.experiencia" name="experiencia" class="registro-ofertante-input" />
    </div>
    
    <div>
      <label for="certificacion" class="registro-ofertante-label">Certificación:</label>
      <input id="certificacion" [(ngModel)]="oferta.certificacion" name="certificacion" class="registro-ofertante-input" />
    </div>
  </div>
  