.infoSeccionLogin {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 380px;
  }
  .infoSeccionLogin.reverse {
    flex-direction: row-reverse;
  }
  .infoSeccionLogin-image img {
    width: 100%;
    max-width: 300px;
  }
  .infoSeccionLogin-text {
    padding: 20px;
  }
  