.perfil-usuario-contenedor {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perfil-usuario-contenedor h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
}

.perfil-usuario-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perfil-usuario-imagen img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.perfil-usuario-info {
    width: 100%;
    margin-bottom: 30px;
}

.perfil-usuario-info-item {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.perfil-usuario-info-item strong {
    font-weight: bold;
    color: #256520;
}

.perfil-usuario-acciones {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.perfil-usuario-boton {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.perfil-usuario-boton-primary {
    background-color: #308c09;
    color: white;
}

.perfil-usuario-boton-primary:hover {
    background-color: #007f08;
}

.perfil-usuario-boton-secondary {
    background-color: #6c757d;
    color: white;
}

.perfil-usuario-boton-secondary:hover {
    background-color: #5a6268;
}
