<div class="perfil-usuario-container">
  <h2>Perfil de Usuario</h2>
  
  <div class="perfil-usuario-card">
    <!-- Foto de perfil (opcional)
    <div class="perfil-usuario-imagen">
      <img src="assets/usuario.jpg" alt="Imagen de Perfil" class="img-fluid">
    </div>
     -->

    <!-- Información del usuario -->
    <div class="perfil-usuario-info">
      <div class="perfil-usuario-info-item">
        <strong>Nombre:</strong> {{ usuario.nombre }} {{ usuario.apellido_1 }} {{ usuario.apellido_2 }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Email:</strong> {{ usuario.email }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Nombre de Usuario:</strong> {{ usuario.nombre_usuario }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Biografía:</strong> {{ usuario.biografia }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Fecha de Registro:</strong> {{ usuario.fecha_registro | date:'dd/MM/yyyy' }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Idiomas Hablados:</strong> {{ usuario.idiomas_hablados }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Teléfono:</strong> {{ usuario.telefono }}
      </div>
      <div class="perfil-usuario-info-item">
        <strong>Rol:</strong> {{ usuario.rol }}
      </div>
    </div>
    
    <!-- Botones de acción 
    <div class="perfil-usuario-actions">
      <button (click)="editarPerfil()" class="perfil-usuario-btn perfil-usuario-btn-primary">Editar Perfil</button>
      <button (click)="cambiarContraseña()" class="perfil-usuario-btn perfil-usuario-btn-secondary">Cambiar Contraseña</button>
    </div>
    -->
  </div>
</div>
