
.background-black {
    background-color: #000; 
    color: #fff;
  }
  
  .background-gray {
    background-color: #808080; 
    color: #fff; 
  }
  
  .background-green {
    background-color: #008000; 
    color: #fff; 
  }
  
  .container {
    padding: 20px;

  }
  